@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans&display=swap');
.formControl {
  width: 30%;
  margin-bottom: 30px !important;
  font-family: 'Raleway', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.option{
  font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
}