@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.card {
  margin: 0 2% !important;
}
.textStyle{
  font-family: 'Raleway', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}